<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>background-fetch</string>
		<string>background-processing</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>hatti needs location access to provide weather-based reminders for your current area.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>hatti needs location access to provide weather-based reminders and background updates for your locations.</string>
</dict>
</plist>
